<!-- Contains only title and nav bar -->

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shohopathi</title>

    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'shohopathi/css/bootstrap.min.css'%}">

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'shohopathi/css/bootstrap.theme.css'%}">

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{% static 'shohopathi/js/bootstrap.min.js'%}">

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'shohopathi/css/googlefonts.css'%}">

    <link rel="stylesheet" href="{% static 'css/master.css'%}">
    <!-- This is the main working CSS file comment it to make background white -->
  </head>
  <body>
    <nav class="navbar  mynav" role="navigation" id="navbar">
			<div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">Shohopathi</a>

        <ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
                  <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
                  <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li> <!-- Shows list view of all groups -->
                  <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>
                  <li><a href="http://127.0.0.1:8000/admin/" class="btn btn-simple">Admin</a></li>
                  <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
						{% else %}
						      <li><a href="{% url 'groups:all' %}"class="btn btn-simple">Groups</a></li>  <!-- Shows list view of all groups -->
						      <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
						      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
						{% endif %}
    		</ul>
			</div>
    </nav>

    <div class="container mycontent">
      {% block content %}

      {% endblock %}
    </div>

    <canvas id="canvas"></canvas>

  </body>

  <script type="text/javascript" src="{% static 'shohopathi/js/master.js' %}"></script> <!-- fire flies script -->

</html>
